 .table-row-clickable:hover {
    cursor: pointer;
    background-color: #f8f9fa !important;
    /* light gray hover */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  /* Ajuste para el ícono de persona cuando no hay foto */
  .bg-secondary-subtle {
    background-color: #e2e3e5 !important;
  }
  